# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\yanis\Documents\université\session 1\INF1007\exercices\2021h-ch6-1-exercices-yanisbourad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
